.category-container {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.category-title {
    font-weight: bold;
    margin: 0;
}

.option-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.option-button {
    padding: 0.1em 0.5em;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 0.9rem;
}

.option-button:hover {
    background-color: #e9ecef;
}

.option-button.selected {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

#selected-prompts {
    position: sticky;
    top: 0.25rem;
    background-color: #f8f9fa;
    max-height: calc(100vh - 0.5rem);
    overflow-y: auto;
}

#selected-list .btn {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
}
#selected-list li {
    margin: 0.1rem 0;
}
#selected-list ul {
    border-left: 2px solid lightgrey;
    padding-left: 0.25rem;
    margin: 0.25rem 0;
}
#import-prompt-dialog {
    width: 50%;
    min-width: 40rem;
    max-width: 90%;
}